.card {
  position: relative;
  overflow: hidden;
  padding: 16px;
  width: 68px;
  height: 72px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  border-width: 2px;
}

.action {
  cursor: pointer;
  transition: transform 100ms ease, box-shadow 100ms ease;
}

.action:hover {
  box-shadow: var(--mantine-shadow-md);
  transform: scale(1.02);
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.selected {
  border-color: var(--mantine-color-blue-2);
  pointer-events: none;
}

.choosen {
  background-color: var(--mantine-color-blue-2);
}
