.card {
  position: relative;
  overflow: visible;
  padding: var(--mantine-spacing-xl);
  padding-top: calc(var(--mantine-spacing-xl) * 1.5 + 20px);
}

.icon {
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
}
